body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  /* letter-spacing: 0.02em; */
  /* line-height: 24px; */
  /* line-height: 1.7em; */
  line-height: 130%;
  background-color: #fffff6;
  color: #111111;
  font-size: 15px;
  max-width: 615px;
  margin-left: 4%;
  margin-right: 4%;
}

h1, h2, h3, h4, h5 {
  color: #703820;
}
h2, h3, h4, h5 { font-weight: normal }

header, div#postamble, h1, h2, h3, h4, h5 {
  /*font-family: "Helvetica Neue", sans-serif;*/
}

a {
  text-decoration: underline;
}
a:link {
  color: #703820;
}
a:visited, p a:visited {
  color: #333;
}
a:hover {
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link {
  color: #703820;
  text-decoration: none;
}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
  color: #703820;
  text-decoration: none;
}

h1 {
  line-height: 120%;
  font-weight: normal;
}

.timestamp {
  color: #444;
}

div#preamble > h1 {
  font-weight: bold;
}

/* h2, h3 { */
h2 {
  position:relative;
}

/* h2 > span, .timestamp { */
h2 > span.archive {
  position: absolute;
  font-size: 18px;
  padding-left: .5em;
  padding-top: 2px;
}

span.timestamp-wrapper {
  display: inline-block;
}

h2 > span a:link {
  text-decoration: underline;
}

h2 > span a:visited {
  color: #333;
}
h2 > span a:hover {
  text-decoration: none;
}

div#preamble > h1 { font-size: 1.6em; }
.title            { text-align: left; }
.timestamp        { font-size: .6em; }
h1                { font-size: 1.5em; }
header > h1       { font-size: 23px; }
h2                { font-size: 23px; }
h3                { font-size: 21px; }
/* h4                { font-size: 1.2em; }
   h5                { font-size: 1.1em; } */
kbd               { font-size: 12px; }
ul, ol            { line-height: 1.1em; }
hr                { margin-left: 0; }
dd                { margin-left: 25px; }

h3 {
  line-height: 120%;
}

code {
  font-size: 15px;
  color: #00e;
}

h2, h3, h4, h5 {
  margin-top: 10px
  margin-bottom: 10px
}

dt {
  margin-top:    5px;
  margin-bottom: 5px;
}

/* pre.src > * {
   font-weight: normal !important;
   } */

pre.src, pre.example, code {
  /*font-family: Monaco, Consolas, "Courier New", monospace;*/
  font-family: monospace;
}

pre.src, pre.example {
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-left: none;
  border-right: none;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding-left: 1em;
  /* font-size: 13px; */
  font-size: 12px;
  line-height: 130%;
}

div.bottom-post {
  padding-bottom: 10px;
}


table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

table caption {
    color: #703820;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.3em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background-color: #e0e0e0;
    color: #703820;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}
table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

table-horizontal td,
table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

kbd
{
  padding               : 0.1em 0.6em 0.1em 0.6em;
  border                : solid 1px rgb(204,204,204);
  background-color      : rgb(247,247,247);
  color                 : rgb(51,51,51);
  -moz-box-shadow       : 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow    : 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow            : 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius    : 3px 3px 3px 3px;
  -webkit-border-radius : 3px 3px 3px 3px;
  border-radius         : 3px 3px 3px 3px;
  display               : inline-block;
  margin                : 0 0.1em 0 0.1em;
  text-shadow           : 0 1px 0 rgb(255,255,255);
  line-height           : 1.4;
  white-space           : nowrap;
  vertical-align        : 10%;
}
